div#woocommerce-color-picker-overlay-bg, div#woocommerce-color-picker-overlay-wrapper {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    opacity: 0.5; 
    z-index:1001; 
    width: 100%; 
    height: 100%; 
    background-color: #282828;
    padding: 0px;
}
div#woocommerce-color-picker-overlay-wrapper {
    left: 0px; 
    opacity: 1; 
    z-index:1002; 
    width: 90%; 
    background-color: white;
    margin: 5% auto 10% auto;
    border-top: 10px solid gray;
    height: 80%;
    top: 20px;
    overflow-x: none;
    overflow-y: scroll;
}
div#woocommerce-color-picker-overlay-content {
  height: 100%;
  clear: both;
  margin: 10px;
}
div#woocommerce-color-picker-overlay-close img {
  width: 32px;
  height: 32px;
  margin: -26px -16px 0;
  float: right;
}
div#woocommerce-color-picker-overlay-close:hover {
  background-position: 20px 0;
}

div#woocommerce-color-picker-overlay-content .before,
div#woocommerce-color-picker-overlay-content .colors,
div#woocommerce-color-picker-overlay-content .after { clear: both; }

div#woocommerce-color-picker-overlay-content .colors div.color-option {
  width: 40px; height: 40px; float: left; margin: 10px; position: relative;
}

div#woocommerce-color-picker-overlay-content .colors div.color-option.name {
  border: 1px solid #000;
  width: auto;
  padding: 0.25em;
}

div#woocommerce-color-picker-overlay-content .colors div.color-option.color:after {
  content:" ";
  width: 0;
  height: 0;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid transparent;
  border-right:10px solid #ffffff;  
  position:absolute;
  top:-10px;
  right:0px;
}

div#woocommerce-color-picker-overlay-content .colors div.parent-color {
  clear: left;
}


